<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Lib/bootstrap-3.3.7/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Seller/head.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Seller/foot.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Seller/my_content.css" />
    <script type="text/javascript" src="__PUBLIC__/Lib/jquery-1.11.2.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" src="__PUBLIC__/Lib/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/Seller/modify.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/Seller/orderinfo.js"></script>
</head>
<body>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Pipe</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="<{:U('Item/itemIndex')}>">商品管理</a></li>
                <!-- <li><a href="<{:U('Contract/contractIndex')}>">合同中心</a></li> -->
                <li class="active"><a href="<{:U('Order/index')}>">订单中心</a></li>
                <li><a href="<{:U('Statistics/statisticsIndex')}>">信息统计</a></li>
                <li><a href="<{:U('Complain/complainIndex')}>">投诉处理</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="<{:U('Info/companyInfo')}>">欢迎您, <{$Think.session.username}></a></li>
                <li><a href="<{:U('User/doLogout')}>">退出</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="my_content">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a href="__URL__/index" class="list-group-item text-center">新订单</a>
                <a href="__URL__/ordering" class="list-group-item active text-center">执行中</a>
                <a href="__URL__/ordered" class="list-group-item text-center">已完成</a>
            </div>
        </div>

        <div class="col-md-10">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">订单详情</h3>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2 text-right"><strong>订单编号：</strong></div>
                        <div class="col-md-3 text-left"><{$mailing['orderid']}></div>
                        <div class="col-md-2 text-right"><strong>买家姓名：</strong></div>
                        <div class="col-md-4 text-left"><{$mailing['name']}></div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2 text-right"><strong>订单商品：</strong></div>
                        <div class="col-md-9 text-left"><{$mailing['itemname']}></div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2 text-right"><strong>商品单价：</strong></div>
                        <div class="col-md-3 text-left money">￥<{$mailingorder['price']}></div>
                        <div class="col-md-2 text-right"><strong>订货数量：</strong></div>
                        <div class="col-md-4 text-left"><{$mailing['quantity']}></div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2 text-right"><strong>收货地址：</strong></div>
                        <div class="col-md-9 text-left"><{$mailing['province']}><{$mailing['city']}><{$mailing['area']}><{$mailing['address']}></div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2 text-right"><strong>联系电话：</strong></div>
                        <div class="col-md-9 text-left"><{$mailing['phone']}></div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2 text-right"><strong>总金额：</strong></div>
                        <div class="col-md-3 text-left money">￥<{$mailing['totalprice']}></div>
                        <div class="col-md-2 text-right"><strong>运费：</strong></div>
                        <div class="col-md-4 text-left money">￥<{$mailing['freight']}></div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2 text-right"><strong>下单时间：</strong></div>
                        <div class="col-md-3 text-left"><{:date('Y-m-d H:i:s', (int)$mailing['orderdate'])}>
                        </div>
                        <div class="col-md-2 text-right"><strong>订单状态：</strong></div>
                        <div class="col-md-4 text-left state">派送中</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2 text-right"><strong>物流编号：</strong></div>
                        <div class="col-md-3 text-left"><{$mailing['tracknumber']}></div>
                        <div class="col-md-2 text-right"><strong>物流公司：</strong></div>
                        <div class="col-md-3 text-left"><{$mailing['trackcompany']}></div>
                        <div class="col-md-1"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2 text-right"><strong>发货时间：</strong></div>
                        <div class="col-md-9 text-left"><{:date('Y-m-d H:i:s', (int)$mailing['send-time'])}></div>
                    </div>
                    <br/>
                    <div class="row text-center">
                        <a href="/PipeTrans/index.php/common/Contract/detail/orderid/<{$mailing['orderid']}>">查看合同</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom navbar-inverse" role="navigation">
    <div class="foot">
        2017 &nbsp Pipe
    </div>
</nav>
</body>
</html>