<div class="section topSection searchArea">
	<div class="w1180">
		<div class="top">
			<div class="logo">
				<img src="__PUBLIC__/Images/Public/logo.png">
			</div>
			<div class="searchArea">
				<div class="searchWarp">
					<div class="searchTab">
					</div>
					<div class="searchPanel">
						<form action="__APP__/home/Item/search" method="GET">
							<div class="searchInputWrap">
								<input class="searchInput" name="searchItem" aria-label="请输入搜索文字">
							</div>
							<div class="searchBtn">
								<button type="submit">搜索</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>