<html>
<head>
	<title>PipeTrans</title>
	<import type='css' file='Css.Buyer.message'/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Lib/FlexSlider2/flexslider.css">
    <script src="__PUBLIC__/Lib/jquery-1.11.2.js"></script>
    <script src="__PUBLIC__/Lib/FlexSlider2/jquery.flexslider-min.js"></script>
    <script src="__PUBLIC__/Lib/bootstrap-3.3.7/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Lib/distpicker/docs/js/distpicker.js"></script>
</head> 
<body>
    <include file="./PipeTrans/Home/View/tpl/header.html" />
    <include file="./PipeTrans/Home/View/tpl/top-search1.html" />          
    <div class="section">
        <div class="w1180">
            <div class="message-box">
                <div class="box-header">
                    我的消息
                </div>
                <div class="box-con">
                    <div class="message-list">
                        <ul>
                            <li class="message">
                                <div class="info">
                                    <div class="title"><a>消息标题</a></div>
                                    <div class="from">消息管理员</div>
                                    <div class="date">2017-06-11 12:12:22</div>
                                    <div class="option"><a href="">删除</a></div>
                                </div>
                                <div class="con">
                                    aaaaaaaaaaaaaaaaa啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊到底的淡淡的淡淡的淡淡的淡淡的的淡淡的淡淡的淡淡的的
                                </div>
                            </li>
                             <li class="message">
                                <div class="info">
                                    <div class="title"><a>消息标题</a></div>
                                    <div class="from">消息管理员</div>
                                    <div class="date">2017-06-11 12:12:22</div>
                                    <div class="option"><a href="">删除</a></div>
                                </div>
                            </li>
                             <li class="message">
                                <div class="info">
                                    <div class="title"><a>消息标题</a></div>
                                    <div class="from">消息管理员</div>
                                    <div class="date">2017-06-11 12:12:22</div>
                                    <div class="option"><a href="">删除</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="footer" style="margin-top:2000px;">
		<p>www.cctc.com</p>
	</div>

    <script type="text/javascript">
      $("#distpicker1").distpicker();
    </script>
</body>
</html>