<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>商家注册</title>
		<link rel="stylesheet" href="__PUBLIC__/Css/Seller/reset.css" />
		<link rel="stylesheet" href="__PUBLIC__/Css/Seller/common.css" />
	</head>
	<body>
		<div class="wrap login_wrap">
			<div class="content">
				<br>
				<br>
				<div class="login_box">	
					
					<div class="login_form">
						<div class="login_title">
							商家注册
						</div>
						<form action="__URL__/doRegister" enctype="multipart/form-data" method="post">
							
							<div class="form_text_ipt">
								<input name="email" type="text" placeholder="邮箱">
							</div>
							<div class="ececk_warning"><span>数据不能为空</span></div>
							<div class="form_text_ipt">
								<input name="password" type="password" placeholder="密码">
							</div>
							<div class="ececk_warning"><span>数据不能为空</span></div>
							<div class="form_text_ipt">
								<input name="username" type="text" placeholder="公司名称">
							</div>
							<div class="ececk_warning"><span>数据不能为空</span></div>
							<div class="form_text_ipt">
								<input name="license" type="text" placeholder="注册号">
							</div>
							<div class="ececk_warning"><span>数据不能为空</span></div>
							<div class="form_text_ipt">
								<input name="name" type="text" placeholder="代表人姓名">
							</div>
							<div class="ececk_warning"><span>数据不能为空</span></div>
							<div class="form_text_ipt">
								<input name="idnumber" type="text" placeholder="代表人身份证号">
							</div>
							<div class="ececk_warning"><span>数据不能为空</span></div>
							<br>

							<p><strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp请选择营业执照：</strong></p>
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							<input name="photo" type="file">
							
							<div class="ececk_warning"><span>数据不能为空</span></div>
							
							<div class="form_btn">
								<button type="submit">注册</button>
							</div>
							<div class="form_reg_btn">
								<span>已有帐号？</span><a href="__URL__/login">马上登录</a>
							</div>
						</form>
						<br>
						<br>
						<!-- <div class="other_login">
							<div class="left other_left">
								<span> </span>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="__PUBLIC__/Js/Seller/jquery.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/Js/Seller/common.js" ></script>
	</body>
</html>
