<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Lib/bootstrap-3.3.7/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Seller/head.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Seller/foot.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Seller/my_content.css" />
	<script type="text/javascript" src="__PUBLIC__/Lib/jquery-1.11.2.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script type="text/javascript" src="__PUBLIC__/Lib/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<{:U('Contract/contractIndex')}>">Pipe</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="<{:U('Item/itemIndex')}>">商品管理</a></li>
                <!-- <li><a href="<{:U('Contract/contractIndex')}>">合同中心</a></li> -->
                <li><a href="<{:U('Order/index')}>">订单中心</a></li>
                <li class="dropdown active">
                    <a href="<{:U('Statistics/statisticsIndex')}>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">信息统计 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="<{:U('Statistics/statisticsIndex')}>">年度统计</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="<{:U('Statistics/statisticsItem')}>">阶段统计</a></li>
                    </ul>
                </li>

                <li><a href="<{:U('Complain/complainIndex')}>">投诉处理</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="<{:U('Info/companyInfo')}>">欢迎您, <{$Think.session.username}></a></li>
                <li><a href="<{:U('User/doLogout')}>">退出</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="my_content">
    <div class="row">
        <form class="navbar-form navbar-right" role="search" action="__URL__/statisticsIndex" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="请输入年份(如：<{$year}>)" name="searchyear">
            </div>
            &nbsp&nbsp&nbsp&nbsp
            <button type="submit" class="btn btn-default">搜索</button>
            &nbsp&nbsp&nbsp&nbsp
        </form>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading text-center">
            <h3 class="panel-title"><{$year}> 年交易金额统计</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <input type="text" class="form-control" id="rst1" value="<{$rst1}>" style="display: none;">
                    <input type="text" class="form-control" id="rst2" value="<{$rst2}>" style="display: none;">
                    <input type="text" class="form-control" id="rst3" value="<{$rst3}>" style="display: none;">
                    <input type="text" class="form-control" id="rst4" value="<{$rst4}>" style="display: none;">
                    <input type="text" class="form-control" id="rst5" value="<{$rst5}>" style="display: none;">
                    <input type="text" class="form-control" id="rst6" value="<{$rst6}>" style="display: none;">
                    <input type="text" class="form-control" id="rst7" value="<{$rst7}>" style="display: none;">
                    <input type="text" class="form-control" id="rst8" value="<{$rst8}>" style="display: none;">
                    <input type="text" class="form-control" id="rst9" value="<{$rst9}>" style="display: none;">
                    <input type="text" class="form-control" id="rst10" value="<{$rst10}>" style="display: none;">
                    <input type="text" class="form-control" id="rst11" value="<{$rst11}>" style="display: none;">
                    <input type="text" class="form-control" id="rst12" value="<{$rst12}>" style="display: none;">
                    <canvas id="a_canvas" width="950" height="350"></canvas>
                    <script>
                        (function (){
                     
                            window.addEventListener("load", function(){

                                var rst1 = document.getElementById("rst1").value;
                                var rst2 = document.getElementById("rst2").value;
                                var rst3 = document.getElementById("rst3").value;
                                var rst4 = document.getElementById("rst4").value;
                                var rst5 = document.getElementById("rst5").value;
                                var rst6 = document.getElementById("rst6").value;
                                var rst7 = document.getElementById("rst7").value;
                                var rst8 = document.getElementById("rst8").value;
                                var rst9 = document.getElementById("rst9").value;
                                var rst10 = document.getElementById("rst10").value;
                                var rst11 = document.getElementById("rst11").value;
                                var rst12 = document.getElementById("rst12").value;
                     
                                var data = [rst1,rst2,rst3,rst4,rst5,rst6,rst7,rst8,rst9,rst10,rst11,rst12];
                                var xinforma = ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'];
                     
                                // 获取上下文
                                var a_canvas = document.getElementById('a_canvas');
                                var context = a_canvas.getContext("2d");
                     
                     
                                // 绘制背景
                                var gradient = context.createLinearGradient(0,0,0,300);
                     
                                context.fillStyle = gradient;
                     
                                context.fillRect(0,0,a_canvas.width,a_canvas.height);
                     
                                var realheight = a_canvas.height-15;
                                var realwidth = a_canvas.width-40;
                                // 描绘边框
                                var grid_cols = data.length + 1;
                                var grid_rows = 4;
                                var cell_height = realheight / grid_rows;
                                var cell_width = realwidth / grid_cols;
                                context.lineWidth = 1;
                                context.strokeStyle = "#a0a0a0";
                     
                                // 结束边框描绘
                                context.beginPath();
                                // 准备画横线
                                /*for(var row = 1; row <= grid_rows; row++){
                                    var y = row * cell_height;
                                    context.moveTo(0,y);
                                    context.lineTo(a_canvas.width, y);
                                }*/
                              
                                //划横线
                                context.moveTo(0,realheight);
                                context.lineTo(realwidth,realheight);
                                    
                                 
                                //画竖线
                                context.moveTo(0,20);
                                context.lineTo(0,realheight);
                                context.lineWidth = 1;
                                context.strokeStyle = "black";
                                context.stroke();
                                  
                     
                                var max_v =0;
                              
                                for(var i = 0; i<data.length; i++){
                                    if (data[i] > max_v) { max_v =data[i]};
                                }
                                max_v = max_v * 1.1;
                                // 将数据换算为坐标
                                var points = [];
                                for( var i=0; i < data.length; i++){
                                    var v= data[i];
                                    var px = cell_width *　(i +1);
                                    var py = realheight - realheight*(v / max_v);
                                    //alert(py);
                                    points.push({"x":px,"y":py});
                                }
                     
                                //绘制坐标图形
                                for(var i in points){
                                    var p = points[i];
                                    context.beginPath();
                                    context.fillStyle="green";
                                    context.fillRect(p.x,p.y,15,realheight-p.y);
                                 
                                    context.fill();
                                }
                                //添加文字
                                for(var i in points)
                                {  
                                    var p = points[i];
                                    context.beginPath();
                                    context.fillStyle="black";
                                    context.fillText(data[i], p.x + 1, p.y - 15);
                                    context.fillText(xinforma[i],p.x + 1,realheight+12);
                                    context.fillText('月份',realwidth,realheight+12);
                                    context.fillText('金额/(元)',0,10);
                                }
                            },false);
                          })();
                           
                    </script>
                </div>
            </div>
        </div>
    </div>
      
</div>

<nav class="navbar navbar-fixed-bottom navbar-inverse" role="navigation">
    <div class="foot">
        2017 &nbsp Pipe
    </div>
</nav>

</body>
</html>