@import "../Public/public.less";
.SearchArea{
	.top{
		padding-top: 30px;
	}
	.searchWarp{
		margin:0 auto;
		width: 50%;
	}
	.searchInput{
		width: 490px;
		height: 27px;
	}
	.searchBtn{
		height: 27px;
   	 	width: 89px;
   	 	button{
   	 		width: 100%;
   	 		height: 100%;
   	 	}
	}
	.searchPanel{
		height: 35px;
		padding: 4px;
		background-color: red;
	}
	.logo{
		width: 200px;
		height: 100px;
		.fl;
	}
	.searchPanel{
		.afterclear;
		form{
			.afterclear;
		}
		.searchInputWrap{
			.fl;
		}
		.searchBtn{
			.fl;
		}
	}
}
.bannerSection{
	background-color: #EFEFEF;
	padding-top: 5px;
	.banner{
		width: 887px;
		height: 400px;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.userInfo{
		width: 277px;
		height: 400px;
		background-color: gray;
		.infoBody{
			padding:20px;
			padding-top: 90px;
			.text-center;
			.userHead{
				width: 90px;
				height: 90px;
				border-radius: 50%;
				overflow: hidden;
				display: inline-block;
				margin-bottom: 20px;
				img{width: 100%;
					height: 100%;}
			}
		}
	}
}