<html>
<head>
	<title>PipeTrans</title>
	<import type='css' file='Css.Buyer.otherPage'/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Lib/FlexSlider2/flexslider.css">
    <script src="__PUBLIC__/Lib/jquery-1.11.2.js"></script>
    <script src="__PUBLIC__/Lib/FlexSlider2/jquery.flexslider-min.js"></script>
    <script src="__PUBLIC__/Lib/bootstrap-3.3.7/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Lib/distpicker/docs/js/distpicker.js"></script>
</head>
<body>
	<include file="./PipeTrans/Home/View/tpl/header.html" />
	<div class="section topSection complain-top">
		<div class="w1180">
            <h3>投诉中心</h3>
        </div>
	</div>
	<div class="section complainSeciton">
		<div class="w1180">
            <div class="intro">
                <h4>请您根据实际情况提交相应的举报材料，完毕后请点击页面底部的“提交举报”按钮。</h4>
            </div>
            <div class="container complain-container">
                <div class="part">
                    <div class="title">
                        <h5><span class="red">*</span>举报描述</h5>
                    </div>
                    <div class="demand">
                        <p>描述要求: 请在文本框中填写您收到空包裹的大概经过（注意：所有凭证中被举报人能且只能看到此框中的内容，请您注意不要在此框填写会员名、订单号、运单号等任何可能泄露身份的信息）</p>
                    </div>
                    <div class="textarea-box">
                        <form action="__APP__/home/complain/addComplain" method="POST" id="sub-form">
                            <div class="textarea-wrap">
                                <textarea name="con"></textarea>   
                            </div>
                            <input name="did" value="<{$did}>" type="hidden">
                        </form>
                        <p class="tip">
                            最多输入400字
                        </p>
                    </div>
                </div>
               
                <div class="sub-btn-wrap">
                    <button type="button" class="sub-btn btn btn-danger">提交举报</button>
                </div>
            </div>
        </div>
	</div>
	<div class="footer">
		<p>www.cctc.com</p>
	</div>

    <script type="text/javascript">
        // 表单提交
        $('.sub-btn').click(function(){
           //  var name=$('input[name="name"]').val();
           //  var phone=$('input[name="mobile"]').val();
           //  if(!name){
           //      alert("请输入收货人姓名");
           //      return false;
           //  }
           //  var phoneReg=/1(?:[38]\d|4[4579]|5[0-35-9]|7[35678])\d{8}/;
           //  if(!phoneReg.test(phone)){  
           //     alert(phone+"请填写正确的电话号码");  
           //     return  false;  
           // }  
            $('#sub-form').submit();
        }) 
        
    </script>
</body>
</html>