<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Lib/bootstrap-3.3.7/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Seller/head.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Seller/foot.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Seller/my_content.css" />
	<script type="text/javascript" src="__PUBLIC__/Lib/jquery-1.11.2.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script type="text/javascript" src="__PUBLIC__/Lib/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/Seller/iteminfo.js"></script>
</head>
<body>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Pipe</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="<{:U('Item/itemIndex')}>">商品管理</a></li>
                <!-- <li><a href="<{:U('Contract/contractIndex')}>">合同中心</a></li> -->
                <li><a href="<{:U('Order/index')}>">订单中心</a></li>
                <li><a href="<{:U('Statistics/statisticsIndex')}>">信息统计</a></li>
                <li><a href="<{:U('Complain/complainIndex')}>">投诉处理</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="<{:U('Info/companyInfo')}>">欢迎您, <{$Think.session.username}></a></li>
                <li><a href="<{:U('User/doLogout')}>">退出</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="my_content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">添加商品</h3>
        </div>
        <div class="panel-body">
            <form action="__URL__/saveItem" enctype="multipart/form-data" method="post">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <label class="col-sm-3 control-label text-right">商品名称：</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="name" placeholder="请输入商品名称">
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <label class="col-sm-3 control-label text-right">商品型号：</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="std" placeholder="请输入商品规格">
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <label class="col-sm-3 control-label text-right">商品单价：</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="price"
                                               placeholder="请输入商品单价">
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <label class="col-sm-3 control-label text-right">商品库存：</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="quantity" placeholder="请输入商品库存">
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <label class="col-sm-3 control-label text-right">发货地址：</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="address" placeholder="请输入发货地址">
                            </div>
                        </div>
                        <br/>
                        <br/>
                    </div>           
                    <div class="col-sm-6">
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">商品简介：</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" name="intro" rows="4" placeholder="请输入商品简介"></textarea>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <br/>
                        
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">卖家承诺：</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" name="promise" rows="3" placeholder="请输入卖家承诺"></textarea>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <br/>
                        
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">上传图片：</label>
                            <div class="col-sm-4">
                                <input type="file" name="photo[]" multiple="true">
                            </div>
                            <div class="col-sm-4">
                                <input type="file" name="photo[]" multiple="true">
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-3 control-label text-right"></label>
                            <div class="col-sm-4">
                                <input type="file" name="photo[]" multiple="true">
                            </div>
                            <div class="col-sm-4">
                                <input type="file" name="photo[]" multiple="true">
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">运费：</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="itemfreight" placeholder="请输入运费">
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>           
                </div>

                <div class="row text-center">
                    <button type="button" class="btn btn-default" onclick="undoadd()">取消</button>
                    <button type="submit" class="btn btn-primary">添加</button>
                </div>
            </form>
        </div>
    </div> 
</div>

<nav class="navbar navbar-fixed-bottom navbar-inverse" role="navigation">
    <div class="foot">
        2017 &nbsp Pipe
    </div>
</nav>
</body>
</html>