<html>
<head>
	<title>PipeTrans</title>
	<import type='css' file='Css.Buyer.order'/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Lib/FlexSlider2/flexslider.css">
    <script src="__PUBLIC__/Lib/jquery-1.11.2.js"></script>
    <script src="__PUBLIC__/Lib/FlexSlider2/jquery.flexslider-min.js"></script>
    <script src="__PUBLIC__/Lib/bootstrap-3.3.7/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Lib/distpicker/docs/js/distpicker.js"></script>
</head>
<body>
	<include file="./PipeTrans/Home/View/tpl/header.html" />
    <include file="./PipeTrans/Home/View/tpl/top-search1.html" />
	<div class="section stepSection">
		<div class="w1180">
             <div class="step-wrap">
                <ol class="stepBar">
                    <li class="step-first">
                        <div>
                            <div class="step-name">填写订单</div>
                            <div class="step-no">1</div>
                            <!-- <div class="step-date">2017-02-26 14:00:09</div> -->
                        </div>
                    </li>
                     <li class="step">
                        <div class="step-done">
                            <div class="step-name">等待确认</div>
                            <div class="step-no">2</div>
                            <!-- <div class="step-date">2017-02-26 14:00:09</div> -->
                        </div>
                    </li>
                    <li class="step">
                        <div class="">
                            <div class="step-name">生成合同</div>
                            <div class="step-no">3</div>
                             <!-- <div class="step-date">2017-02-26 14:00:09</div> -->
                        </div>
                    </li>
                    <li class="step">
                         <div class="">
                            <div class="step-name">确认收货</div>
                            <div class="step-no">4</div>
                            <!-- <div class="step-date">2017-02-26 14:00:09</div> -->
                        </div>
                    </li>
                    <li class="step-last">
                         <div class="">
                            <div class="step-name">评价</div>
                            <div class="step-no">5</div>
                            <!-- <div class="step-date">2017-02-26 14:00:09</div> -->
                        </div>
                    </li>
                </ol>
            </div>
        </div>
	</div>
    <div class="section">
        <div class="w1180">
            <table class="box detail-box">
                <tr>
                    <td class="order-info fl">
                        <div class="order-info-head inner">
                            订单信息
                        </div>
                        <div class="order-info-body inner">
                            <ul>
                                <li>
                                    <div class="title"><span>收货地址:</span></div>
                                    <div class="con"><{$order.name}>，<{$order.phone}>，<{$order.province}>，<{$order.city}>，<{$order.area}>，<{$order.address}></div>
                                </li>
                                 <li>
                                    <div class="title"><span>下单时间:</span></div>
                                    <div class="con"><{$order.orderdate|date='Y-m-d',###}></div>
                                    <div class="title"><span>买家留言:</span></div>
                                    <div class="con">你好</div>
                                </li>
                                 <li>
                                    <div class="title"><span>订单编号:</span></div>
                                    <div class="con"><{$order.orderid}></div>
                                </li>
                                 <li>
                                    <div class="title"><span>商家:</span></div>
                                    <div class="con"><{$sellername}></div>
                                </li>

                            </ul>
                        </div>
                    </td >
                    <td  class="order-status fl">
                        <div class="inner">
                            <div class="status">
                                订单状态:
                                 <if condition='$order.status eq 0'>
                                        等待卖家确认
                                    <elseif condition='$order.status eq 1'/>
                                        订单已取消
                                    <elseif condition='$order.status eq 2'/>
                                        订单已确认,等待买家发货
                                    <elseif condition='$order.status eq 3'/>
                                        订单被拒绝
                                    <elseif condition='$order.status eq 6'/>
                                        卖家已发货
                                    <elseif condition='$order.status eq 8'/>
                                        已确认收货，交易完成
                                    <else/>
                                </if>
                            </div>
                            <div class="trans">物流:XX快递 运单号：122313</div>
                            <div class="option">您可以:
                                <a href="__APP__/home/Contract/detail/orderid/<{$details[0]['detailid']}>"  target="_blank">下载合同</a>
                                <a href="__APP__/home/complain/submit/orderid/<{$details[0]['detailid']}>"  target="_blank">投诉商家</a>
                        </div>
                        </div>
                    </td >
                </tr>
            </table>
        <!-- 订单商品 -->
            <div class="order-list-box" >
                <div class="order-panel">
                    <div class="list-head" style="border-bottom:1px solid #eee">
                        <div class="list-head-item">
                            商品
                        </div>
                        <div class="list-head-price">
                            单价
                        </div>
                        <div class="list-head-count">
                            数量
                        </div>
                        <div class="list-head-pay">
                            总价
                        </div>
                        <div class="list-head-status">
                            状态
                        </div>
                         <div class="list-head-option">
                            操作
                        </div>
                    </div>
                    <div class="list-body">
                        <volist  name='details' id='vo'>
                            <div class="package">
                                <!-- <div class="package-head">
                                    <span>包裹1</span>
                                    <span>韵达快递</span>
                                    <span>运单号：123123123</span>
                                    <span>2017-3-01 13:30:53</span>
                                </div> -->
                                <div class="package-item">
                                    <div class="item-item">
                                        <img src="__PUBLIC__/Images/Public/logo.png">
                                        <{$vo.itemname}>
                                    </div>
                                    <div class="item-price"><{$vo.price}></div>
                                    <div class="item-count"><{$vo.quantity}></div>
                                    <div class="item-pay"><{$vo.total}></div>
                                    <div class="item-status">
                                        <if condition='$order.status eq 0'>
                                        等待卖家确认
                                            <elseif condition='$vo.dstatus eq 1'/>
                                                订单已取消
                                            <elseif condition='$vo.dstatus eq 2'/>
                                                订单已确认
                                            <elseif condition='$vo.dstatus eq 3'/>
                                                订单被拒绝
                                            <elseif condition='$vo.dstatus eq 6'/>
                                                卖家已发货
                                            <elseif condition='$vo.dstatus eq 8'/>
                                                已确认收货
                                            <elseif condition='$vo.dstatus eq 9'/>
                                                已评论
                                            <else/> 
                                        </if>
                                    </div>
                                    <div class="item-option" >
                                        <if condition='$order.status eq 0'>
                                            <a href="__APP__/home/order/undo/orderid/<{$order.orderid}>">
                                                取消订单
                                            </a>
                                            <elseif condition='$vo.dstatus eq 1'/>
                                                订单已取消
                                            <elseif condition='$vo.dstatus eq 2'/>
                                                订单已确认
                                            <elseif condition='$vo.dstatus eq 3'/>
                                                订单被拒绝
                                            <elseif condition='$vo.dstatus eq 6'/>
                                                 <a href="__APP__/home/order/receive/id/<{$vo.detailid}>">确认收货</a>
                                            <elseif condition='$vo.dstatus eq 8'/>
                                                已确认收货
                                                <a href="__APP__/home/item/addComment/itemid/<{$vo.itemid}>/detailid/<{$vo.detailid}>">添加评论</a>
                                            <elseif condition='$vo.dstatus eq 9'/>
                                                已评论
                                            <else/> 
                                        </if>
                                    </div>

                                </div>
                            </div>
                        </volist>
                    </div>

                </div>
            </div>
        <!-- 价格显示 -->
            <div class="pay-box">
                <div class="inner">
                    <div class="line">
                        <div class="name">
                            商品总价
                        </div>
                        <div class="value">
                            ￥<{$order.totalprice}>
                        </div>
                    </div>
                    <div class="line">
                        <div class="name">
                            运费
                        </div>
                        <div class="value">
                            ￥<{$order.freight}>
                        </div>
                    </div>
                    <div class="line">
                        <div class="name">
                            订单总价
                        </div>
                        <div class="value">
                            ￥<{$order.totalprice}>
                        </div>
                    </div>
                    <div class="line">
                        <div class="name">
                            实付款
                        </div>
                        <div class="value">
                            ￥<{$order.totalprice}>
                        </div>
                    </div>
                </div>
                <!-- 评论Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                      </div>
                      <div class="modal-body">
                        <form>
                            <textarea></textarea>       
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
	<div class="footer" style="margin-top:2000px;">
		<p>www.cctc.com</p>
	</div>

    <script type="text/javascript">
      $("#distpicker1").distpicker();
    </script>
</body>
</html>